openapi: 3.0.0
info:
  title: PinkSync Ecosystem API
  version: 2.0.0
  description: |
    Comprehensive API specification for the PinkSync ecosystem, including:
    - DeafAuth: Authentication and user management
    - PinkSync: Accessibility and interface transformation
    - FibonRose: Trust and verification
  contact:
    name: PinkSync Support
    url: https://pinksync.io/support
    email: support@pinksync.io

servers:
  - url: https://api.pinksync.io/v2
    description: Production Environment
  - url: https://deafauth.pinksync.io/v1
    description: DeafAuth Service
  - url: https://fibonrose.mbtquniverse.com/v1
    description: FibonRose Service

tags:
  - name: Authentication
    description: User authentication and session management
  - name: Users
    description: User profile and preference management
  - name: Accessibility
    description: Accessibility features and preferences
  - name: Trust
    description: Trust verification and badge management
  - name: Video
    description: Video processing and management
  - name: Notifications
    description: Notification management and delivery
  - name: Progress
    description: Progress tracking and reporting

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the authentication endpoints
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-PinkSync-Key
      description: API key for service-to-service communication

  schemas:
    Error:
      type: object
      properties:
        status:
          type: string
          enum: [error]
        code:
          type: string
        message:
          type: string
        details:
          type: object
        visual_feedback:
          $ref: '#/components/schemas/VisualFeedback'
      required:
        - status
        - message

    VisualFeedback:
      type: object
      description: Visual feedback for deaf users
      properties:
        icon:
          type: string
          description: Icon name for visual feedback
          example: success
        color:
          type: string
          description: Color code for visual feedback
          example: green
        animation:
          type: string
          description: Animation type for visual feedback
          example: fade
        vibration:
          type: boolean
          description: Whether to trigger vibration feedback
          example: false
      required:
        - icon
        - color

    UserPreferences:
      type: object
      properties:
        high_contrast:
          type: boolean
          description: Enable high contrast mode
          default: false
        large_text:
          type: boolean
          description: Enable large text mode
          default: false
        animation_reduction:
          type: boolean
          description: Reduce animations
          default: false
        vibration_feedback:
          type: boolean
          description: Enable vibration feedback
          default: true
        sign_language:
          type: string
          enum: [asl, bsl, isl]
          description: Preferred sign language
          default: asl
      required:
        - sign_language

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        verified:
          type: boolean
        roles:
          type: array
          items:
            type: string
            enum: [user, creator, validator, admin]
      required:
        - id
        - email
        - created_at

# ... (rest of the API specification continues)
