openapi: 3.0.0
info:
  title: PinkSync Unified Deaf-First Platform API
  version: 2.0.0
  description: Comprehensive API integrating DeafAuth, FibonRose, and 360 Business Magician systems
servers:
  - url: https://api.pinksync.io/v2
    description: Production Environment (Vercel + GCP)
  - url: https://staging-api.pinksync.io/v2
    description: Staging Environment

security:
  - DeafAuth: []
  - BearerAuth: []
  - ApiKeyAuth: []

components:
  securitySchemes:
    DeafAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.pinksync.io/oauth/authorize
          tokenUrl: https://auth.pinksync.io/oauth/token
          scopes:
            sign_language_auth: Sign language authentication access
            neural_processing: Neural processing capabilities
            career_services: Career development services
    BearerAuth:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-PinkSync-Key

  schemas:
    DeafFirstProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
        accessibility_preferences:
          type: object
          properties:
            sign_language_primary:
              type: string
              enum: [ASL, BSL, ISL, Other]
            visual_alerts:
              type: boolean
              default: true
            haptic_feedback:
              type: boolean
              default: true
            caption_settings:
              type: object
              properties:
                font_size:
                  type: string
                  enum: [small, medium, large, extra_large]
                background_color:
                  type: string
                text_color:
                  type: string
                position:
                  type: string
                  enum: [top, bottom, center]
            communication_mode:
              type: string
              enum: [sign_language, text, visual_cues, mixed]
        fibonrose_integration:
          type: object
          properties:
            neural_patterns:
              type: array
              items:
                type: object
            learning_preferences:
              type: object
            adaptation_level:
              type: number
              minimum: 0
              maximum: 1

    SignLanguageAuth:
      type: object
      properties:
        id:
          type: string
          format: uuid
        video_data:
          type: string
          format: binary
        gesture_patterns:
          type: array
          items:
            type: object
            properties:
              pattern_id:
                type: string
              confidence_score:
                type: number
                minimum: 0
                maximum: 1
              timestamp:
                type: string
                format: date-time
        authentication_result:
          type: object
          properties:
            success:
              type: boolean
            confidence:
              type: number
            user_id:
              type: string
            session_token:
              type: string

    NeuralProcessor:
      type: object
      properties:
        id:
          type: string
          format: uuid
        processor_type:
          type: string
          enum: [sign_language_recognition, gesture_analysis, visual_processing, accessibility_optimization]
        model_version:
          type: string
        processing_capabilities:
          type: array
          items:
            type: string
        fibonrose_enhanced:
          type: boolean
          default: true

    CareerOpportunity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        company:
          type: string
        location:
          type: string
        deaf_accessibility_rating:
          type: integer
          minimum: 1
          maximum: 5
        accommodation_features:
          type: array
          items:
            type: string
        required_skills:
          type: array
          items:
            type: string
        sign_language_required:
          type: boolean
        remote_friendly:
          type: boolean

    BusinessMagicianService:
      type: object
      properties:
        id:
          type: string
          format: uuid
        service_type:
          type: string
          enum: [cloud_setup, ai_integration, accessibility_audit, business_development]
        cloud_provider:
          type: string
          enum: [gcp, vercel, aws, azure]
        automation_level:
          type: string
          enum: [basic, advanced, enterprise]
        deaf_optimization:
          type: boolean
          default: true

paths:
  # DeafAuth Integration Endpoints
  /auth/sign-language:
    post:
      summary: Authenticate using sign language patterns
      tags: [DeafAuth]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                video:
                  type: string
                  format: binary
                user_id:
                  type: string
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignLanguageAuth'
        '401':
          description: Authentication failed

  /auth/register-pattern:
    post:
      summary: Register new sign language authentication pattern
      tags: [DeafAuth]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                video:
                  type: string
                  format: binary
                pattern_name:
                  type: string
      responses:
        '201':
          description: Pattern registered successfully

  # FibonRose Neural Processing Endpoints
  /neural/process:
    post:
      summary: Process data through FibonRose-enhanced neural networks
      tags: [FibonRose]
      security:
        - DeafAuth: [neural_processing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                processor_id:
                  type: string
                input_data:
                  type: object
                processing_options:
                  type: object
      responses:
        '200':
          description: Processing completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                  confidence:
                    type: number
                  processing_time:
                    type: number

  /neural/processors:
    get:
      summary: List available neural processors
      tags: [FibonRose]
      responses:
        '200':
          description: List of processors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NeuralProcessor'

  # Deaf-First Interface Generation
  /interface/generate:
    post:
      summary: Generate deaf-optimized interface components
      tags: [Interface]
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  enum: [web, ios, android, desktop]
                user_profile:
                  $ref: '#/components/schemas/DeafFirstProfile'
                component_types:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Interface components generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  components:
                    type: array
                    items:
                      type: object
                  accessibility_score:
                    type: number
                  deployment_ready:
                    type: boolean

  # 360 Business Magician Services
  /business/setup:
    post:
      summary: Automated business setup for deaf entrepreneurs
      tags: [BusinessMagician]
      security:
        - DeafAuth: [career_services]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_type:
                  type: string
                cloud_preferences:
                  type: array
                  items:
                    type: string
                accessibility_requirements:
                  type: object
      responses:
        '201':
          description: Business infrastructure created

  /business/optimize:
    post:
      summary: Optimize existing business for deaf accessibility
      tags: [BusinessMagician]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessMagicianService'
      responses:
        '200':
          description: Optimization recommendations provided

  # Career Development Services
  /careers/opportunities:
    get:
      summary: Find deaf-friendly career opportunities
      tags: [Career]
      security:
        - DeafAuth: [career_services]
      parameters:
        - name: location
          in: query
          schema:
            type: string
        - name: skills
          in: query
          schema:
            type: array
            items:
              type: string
        - name: deaf_accessibility_min_rating
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 5
      responses:
        '200':
          description: Career opportunities found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CareerOpportunity'

  /careers/profile:
    post:
      summary: Create or update deaf professional profile
      tags: [Career]
      security:
        - DeafAuth: [career_services]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeafFirstProfile'
      responses:
        '201':
          description: Profile created/updated

  # Real-time Communication Services
  /communication/captions:
    post:
      summary: Generate real-time captions
      tags: [Communication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                audio_stream:
                  type: string
                  format: binary
                language:
                  type: string
                  default: en-US
      responses:
        '200':
          description: Captions stream initiated

  /communication/sign-translate:
    post:
      summary: Translate between sign language and text
      tags: [Communication]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                input_type:
                  type: string
                  enum: [video, text]
                content:
                  type: string
                target_format:
                  type: string
                  enum: [text, sign_language_video]
      responses:
        '200':
          description: Translation completed

  # Webhook Management (Original PinkSync)
  /webhooks:
    get:
      summary: List all webhooks
      tags: [Webhooks]
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of webhooks
    post:
      summary: Create new webhook
      tags: [Webhooks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                deaf_optimized:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Webhook created

  # Health and Monitoring
  /health:
    get:
      summary: System health check
      tags: [System]
      responses:
        '200':
          description: System operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  services:
                    type: object
                    properties:
                      deafauth:
                        type: string
                      fibonrose:
                        type: string
                      business_magician:
                        type: string
                  uptime:
                    type: number

tags:
  - name: DeafAuth
    description: Sign language authentication system
  - name: FibonRose
    description: Neural processing and learning system
  - name: Interface
    description: Deaf-first interface generation
  - name: BusinessMagician
    description: Automated business services
  - name: Career
    description: Career development services
  - name: Communication
    description: Real-time communication tools
  - name: Webhooks
    description: Webhook management system
  - name: System
    description: System monitoring and health
